{% macro govukRadios(params) %}

{% from "../fieldset/macro.njk" import govukFieldset %}
{% from "../label/macro.njk" import govukLabel %}

{% set idPrefix = params.idPrefix if params.idPrefix else params.name %}

<div class="form-group{%- if params.errorMessage %} form-group-error{% endif -%}">
{%- if params.fieldset %}

	{% set hintId = idPrefix + '-hint' %}
	{% set errorId = idPrefix + '-error' %}

	{% call govukFieldset({
		"classes": params.fieldset.classes,
		"attributes": params.fieldset.attributes,
		"legend": params.fieldset.legend,
		"hint": {
			"id": hintId,
			"classes": params.hint.classes,
			"attributes": params.hint.attributes,
			"html": params.hint.html,
			"text": params.hint.text
		},
		"errorMessage": {
			"id": errorId,
			"classes": params.errorMessage.classes,
			"html": params.errorMessage.html,
			"text": params.errorMessage.text
		}
	}) %}

		{%- for item in params.items %}

			{% set itemId = item.id if item.id else idPrefix + "-" + loop.index %}
	    	{% set itemText = item.name if item.name else params.name %}

	    	{% set itemHintId = itemId + '-hint' %}

	    	{% set conditionalId = itemId + "-panel" %}

			<div class="multiple-choice" {%- if item.conditional.html %}data-target="{{ conditionalId }}"{% endif %}>

				<input type="radio" id="{{ itemId }}" name="{{ itemText }}" value="{{ item.value }}" {{"checked" if item.checked }} {{ "disabled" if item.disabled }}{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}{% if item.conditional.html %}aria-controls="{{ conditionalId }}"{% endif %}>

				{{ govukLabel({
					"html": item.html,
					"text": item.text,
					"attributes": item.label.attributes,
					"for": itemId,
					"hint": {
						"id": itemHintId,
						"classes": item.hint.classes,
						"attributes": item.hint.attributes,
						"html": item.hint.html,
						"text": item.hint.text
					}
				}) | trim }}

			</div>

			{%- if item.conditional.html %}
			<div class="panel panel-border-narrow js-hidden" id="{{ conditionalId }}">
				{{ item.conditional.html | safe }}
			</div>
			{% endif -%}

		{% endfor -%}

	{% endcall %}

{% else %}

	{%- for item in params.items %}

		{% set itemId = item.id if item.id else idPrefix + "-" + loop.index %}
    	{% set itemText = item.name if item.name else params.name %}

    	{% set itemHintId = itemId + '-hint' %}

	    {% set conditionalId = itemId + "-panel" %}

		<div class="multiple-choice" {%- if item.conditional.html %}data-target="{{ conditionalId }}"{% endif %}>

			<input type="radio" id="{{ itemId }}" name="{{ itemText }}" value="{{ item.value }}" {{"checked" if item.checked }} {{ "disabled" if item.disabled }}{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}{% if item.conditional.html %}aria-controls="{{ conditionalId }}"{% endif %}>

			{{ govukLabel({
				"html": item.html,
				"text": item.text,
				"attributes": item.label.attributes,
				"for": itemId,
				"hint": {
					"id": itemHintId,
					"classes": item.hint.classes,
					"attributes": item.hint.attributes,
					"html": item.hint.html,
					"text": item.hint.text
				}
			}) | trim }}

		</div>

		{%- if item.conditional.html %}
		<div class="panel panel-border-narrow js-hidden" id="{{ conditionalId }}">
			{{ item.conditional.html | safe }}
		</div>
		{% endif -%}

	{% endfor -%}

{% endif -%}
</div>

{% endmacro %}